# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# Node
node_modules/
dist/
.angular/

# Logs & temp
*.log
scratch/
